body{
    background-image: url("car1.png");
    background-size: 1300px 1200px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.d{
    display: flex;
	flex-direction: row;
}
.in{
    margin-top: 73px;
    margin-left:30px;
}
img{
    border-radius: 50px;
}
h1{
    font-size: 63px;
}
h2{
    font-size: 40px;
}